In [58]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [59]:
d = {'a': [1,0,1,0], 'b': [0,1,0,0], 'c': [0,0,0,1]}
dummies = pd.DataFrame(d)
dummies

   a  b  c
0  1  0  0
1  0  1  0
2  1  0  0
3  0  0  1

In [60]:
dummies.columns[np.where(dummies!=0)[1]]

Index(['a', 'b', 'a', 'c'], dtype='object')

In [61]:
s = pd.Series(dummies.columns[np.where(dummies!=0)[1]])
s

0    a
1    b
2    a
3    c
dtype: object

In [62]:
d2 = {'a': [0,1,0,1,0], 'b': [0,0,1,0,0], 'c': [0,0,0,0,1]}
dummies2 = pd.DataFrame(d2)
dummies2

   a  b  c
0  0  0  0
1  1  0  0
2  0  1  0
3  1  0  0
4  0  0  1

In [63]:
s2 = pd.Series(dummies2.columns[np.where(dummies2!=0)[1]], index=np.where(dummies2!=0)[0])
s2

1    a
2    b
3    a
4    c
dtype: object

In [67]:
s3 = pd.Series(data=dummies2.columns[np.where(dummies2!=0)[1]], index=np.where(dummies2!=0)[0])
s3

1    a
2    b
3    a
4    c
dtype: object

In [64]:
np.where(dummies!=0)

(array([0, 1, 2, 3], dtype=int64), array([0, 1, 0, 2], dtype=int64))

In [65]:
dummies!=0

       a      b      c
0   True  False  False
1  False   True  False
2   True  False  False
3  False  False   True

In [66]:
dummies[dummies!=0]

     a    b    c
0  1.0  NaN  NaN
1  NaN  1.0  NaN
2  1.0  NaN  NaN
3  NaN  NaN  1.0